<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对sql进行分类隔离,指定对应的mapper接口-->
<mapper namespace="com.springmvc.mapper.OtherMapper" >

    <select id="getDomainName" resultType="String">
        SELECT `qiniu` FROM config
    </select>

    <update id="setDomainName" parameterType="String">
        UPDATE `qiniu` SET `qiniu`= #{domain}
    </update>

    <select id="getAdsList" resultType="ads">
        SELECT * FROM `ads`
    </select>

    <sql id="whereNotDelete">
        <where>
            `isdeleted`=0
        </where>
    </sql>
</mapper>