<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对sql进行分类隔离,指定对应的mapper接口-->
<mapper namespace="com.springmvc.mapper.StaffMapper" >

    <select id="findStaffByUsername" parameterType="check" resultType="staff">
        SELECT * FROM `staff` WHERE `staff_username` = #{username}
        <include refid="whereNotDelete"/>
    </select>

    <update id="updatePassword" parameterType="check">
        UPDATE `staff` SET `staff_pwd` = #{password} WHERE `staff_username` = #{username}
        <include refid="whereNotDelete"/>
    </update>

    <select id="findStaffs" parameterType="query" resultType="staff">
        SELECT * from `staff`
        <where>
        <if test="key ?= null">
            CONCAT(`staff_name`,`staff_username`,`staf_idcard`,`staff_tel`) LIKE concat(concat('%',#{key}),'%')
        </if>
        </where>
        <include refid="whereNotDelete"/>
        limit #{num}, 20
    </select>

    <select id="getStaffsCount" resultType="Int">
        SELECT COUNT(*) FROM `staff`
    </select>

    <select id="findStaffByIdcard" parameterType="String" resultType="staff">
        SELECT * FROM `staff` WHERE `staff_idcard` = #{idcard}
    </select>

    <sql id="whereNotDelete">
            and `isdeleted`=0
    </sql>
</mapper>