<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对sql进行分类隔离,指定对应的mapper接口-->
<mapper namespace="com.springmvc.mapper.StaffMapper" >

    <select id="findStaffByUsername" parameterType="check" resultType="staff">
        SELECT * FROM `staff` WHERE `staff_username` = #{username}
        <include refid="whereNotDelete"/>
    </select>

    <update id="updatePassword" parameterType="check">
        UPDATE `staff` SET `staff_pwd` = #{password} WHERE `staff_username` = #{username}
        <include refid="whereNotDelete"/>
    </update>

    <select id="findStaffs" parameterType="query" resultType="staff">
        SELECT * from `staff`
        <where>
        <if test="key != null">
            CONCAT(`staff_name`,`staff_username`,`staff_idcard`,`staff_tel`) LIKE concat(concat('%',#{key}),'%')
        </if>
        <if test="level != null">
            and  `staff_authority` = #{level}
        </if>
        <include refid="whereNotDelete"/>
        limit #{num}, 20
        </where>
    </select>

    <select id="getStaffsCount" resultType="Int">
        SELECT COUNT(*) FROM `staff`
    </select>

    <select id="findStaffByIdcard" parameterType="String" resultType="staff">
        SELECT * FROM `staff` WHERE `staff_idcard` = #{idcard}
    </select>

    <update id="deleteStaff" parameterType="staff">
        UPDATE `staff` SET  `isdeleted` = 1 WHERE `staff_id`=#{staff_id}
    </update>

    <update id="updateStaff" parameterType="staff">
        UPDATE `staff`
        SET
        staff_name = #{staff_name} ,
        staff_username = #{staff_username} ,
        staff_sex = #{staff_sex} ,
        staff_tel = #{staff_tel} ,
        staff_authority = #{staff_authority}
        WHERE
        staff_id = #{staff_id}
    </update>

    <insert id="insertStaff" parameterType="staff">
        INSERT INTO kangyuan.staff
        (
        staff_name,
        staff_username,
        staff_sex,
        staff_idcard,
        staff_tel,
        staff_authority
        )
        VALUES
        (
        #{staff_name},
        #{staff_username},
        #{staff_sex},
        #{staff_idcard},
        #{staff_tel},
        #{staff_authority}
        )

        <selectKey keyProperty="staff_id" resultType="Int" order="AFTER">
            SELECT @@IDENTITY AS staff_id
        </selectKey>
    </insert>

    <sql id="whereNotDelete">
            and `isdeleted`=0
    </sql>
</mapper>