<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对sql进行分类隔离,指定对应的mapper接口-->
<mapper namespace="com.springmvc.mapper.StudentMapper">

    <update id="payMoney">
        UPDATE student SET money=money-200 WHERE name="小黄"
    </update>

    <update id="collectMoney">
        UPDATE student SET money=money+200 WHERE name="小明"
    </update>

</mapper>