<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对sql进行分类隔离,指定对应的mapper接口-->
<mapper namespace="com.springmvc.mapper.UserMapper">

    <insert id="addUser" parameterType="user">
        INSERT INTO `kangyuan`.`user` (
        `user_name`,
        `user_pwd`,
        `user_tel`,
        `user_idcard`,
        `user_head`,
        `user_sex`,
        `user_registerdate`,
        `remark`
        )
        VALUE
        (
        #{user_name},
        #{user_pwd},
        #{user_tel},
        #{user_idcard},
        #{user_head},
        #{user_sex},
        #{user_registerdate},
        #{remark}
        )
        <selectKey keyProperty="user_id" resultType="Int" order="AFTER">
            SELECT @@IDENTITY AS user_id
        </selectKey>
    </insert>

    <select id="findUserByName" parameterType="String" resultType="user">
        <include refid="selectUser"/>
        WHERE user_name = #{user_name}
        <include refid="notDelete_user"/>
    </select>

    <update id="updateUser" parameterType="user">
        UPDATE
        `kangyuan`.`user`
        SET
        `user_name` = #{user_name},
        `user_pwd` = #{user_pwd},
        `user_tel` = #{user_tel},
        `user_idcard` = #{user_idcard},
        <if test="user_head!=null">
            `user_head` = #{user_head},
        </if>
        `user_sex` = #{user_sex},
        `remark` = #{remark}
        WHERE `user_id` = #{user_id}
        <include refid="notDelete"/>

    </update>

    <select id="findHeadByName" parameterType="String" resultType="String">
        SELECT user.`user_head` FROM USER WHERE `user_name`=#{name}
        <include refid="notDelete"/>
    </select>

    <select id="findAddressListByUserId" parameterType="Int" resultType="address">
        SELECT * FROM address WHERE `user_id` = #{user_id}
        <include refid="notDelete"/>
    </select>

    <select id="findDefaultAddressIdById" parameterType="Int" resultType="Int">
        SELECT `address_id` FROM user WHERE `user_id` = #{user_id}
        <include refid="notDelete"/>
    </select>

    <update id="deleteAddress" parameterType="Int">
        UPDATE `address` SET `isdeleted` = 1 WHERE `address_id`=#{id}
        <include refid="notDelete"/>

    </update>

    <update id="setDefaultAddress" parameterType="address">
        UPDATE `user` SET `address_id` = #{address_id} WHERE `user_id`=#{user_id}
        <include refid="notDelete"/>
    </update>

    <insert id="setAddress" parameterType="address">
        INSERT INTO `kangyuan`.`address` (
            `address_content`,
            `consignee`,
            `consignee_tel`,
            `user_id`,
            `ads_id`
        )
        VALUES
            (
                #{address_content},
                #{consignee},
                #{consignee_tel},
                #{user_id},
                #{ads_id}
            )
        <selectKey keyProperty="address_id" resultType="Int" order="AFTER">
            SELECT @@IDENTITY AS address_id
        </selectKey>

    </insert>

    <select id="findAdsById" parameterType="Int" resultType="ads">
        SELECT * FROM ads WHERE id=#{id}
    </select>

    <select id="findAddressById" parameterType="Int" resultType="address">
        SELECT * FROM `address` WHERE `address_id` = #{address_id}
    </select>

    <sql id="selectUser">
        SELECT * FROM USER

    </sql>

    <sql id="notDelete_user">
        and user.`isdeleted`=0
    </sql>
    <sql id="notDelete">
        and `isdeleted`=0
    </sql>

</mapper>