<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对sql进行分类隔离,指定对应的mapper接口-->
<mapper namespace="com.springmvc.mapper.UserMapper">

    <insert id="addUser" parameterType="user">
        INSERT INTO `kangyuan`.`user` (
        `user_name`,
        `user_pwd`,
        `user_tel`,
        `user_idcard`,
        `user_head`,
        `user_sex`,
        `address_id`,
        `user_registerdate`,
        `remark`
        )
        VALUE
        (
        #{name},
        #{pass},
        #{tel},
        #{idCard},
        #{head},
        #{sex},
        #{address},
        #{date},
        #{remark}
        )
        <!--<selectKey keyProperty="id" order="AFTER" >-->
        <!--SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
        <selectKey keyProperty="id" resultType="Int" order="AFTER">
            SELECT @@IDENTITY AS id
        </selectKey>
    </insert>

    <select id="findUserByName" parameterType="user" resultType="user">
        <include refid="selectUser"/>
        WHERE user_name = #{name}
    </select>

    <select id="findUserById" parameterType="user" resultType="user">
        <include refid="selectUser"/>
        WHERE user_id = #{id}
    </select>

    <update id="updateUser" parameterType="user">
        UPDATE
        `kangyuan`.`user`
        SET
        `user_name` = ${},
        `user_pwd` = ${},
        `user_tel` = ${},
        `user_head` = ${},
        `user_sex` = ${},
        `address_id` = ${},
        `remark` = ${}
        WHERE `user_id` = ${} ;
        <selectKey keyProperty="id" resultType="Int" order="AFTER">
            SELECT @@IDENTITY AS id
        </selectKey>
    </update>

    <select id="findHeadByName" parameterType="String" resultType="String">
        SELECT user.`user_head` FROM USER WHERE `user_name`=${name}
    </select>

    <select id="findAddressById" parameterType="user" resultType="Address">
        SELECT `address_id`, `address_content` FROM address WHERE `user_id` = ${id}
    </select>

    <select id="findDefaultAddressIdById" parameterType="user" resultType="Int">
        SELECT `address_id` FROM user WHERE `user_id` = ${id}
    </select>

    <sql id="selectUser">
        SELECT
            user.`remark`,
            user.`user_head`,
            user.`user_id`,
            user.`user_idcard`,
            user.`user_name`,
            user.`user_pwd`,
            user.`user_registerdate`,
            user.`user_sex`,
            user.`user_tel`,
            address.`address_content`
        FROM USER
            INNER JOIN address ON user.`address_id` = address.`address_id`
    </sql>
</mapper>